.boxContainer{
   position: fixed;
   z-index: 9999;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background:  hsl(0, 0%, 0%,.75);
   padding-top: 20px;
}
.boxContent{
width: 40% ;
display: flex;
flex-direction: column;
gap: 1em;
}
.bigbox{
   display: grid;
   gap: 1em;
}
.close{
   position: relative;
   right: -10%;
   display: flex;
   justify-self: flex-end;
filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(336deg) brightness(109%) contrast(502%)   
} 
.shoegalImg{
   width: 100%;
   border-radius: .5em;
   height: 60vh;
}
.thumbImg{
   display: flex;
   justify-content: center;
   width: 120%;
   gap: .5em;
}
.arrows{
   display: flex;
   align-items: center;
}
.arrowbtn{
   background-color: white;
   border-radius: 50%;
   padding: .5em .66em;
   position: relative;
}
.nextbtn{
   position: relative;
   left: -1em;
}
.prebtn{
   position: relative;
   right: -1em;
}